@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}
body{
    background: linear-gradient(100deg, #0077b6 , #90e0ef) ;
}

.container{
    width: 100%;
    min-height: 100vh;
    color: #fff;
    padding: 10px;
}
.calculator{
    margin-top: 9%;
    margin-left: 10%;
    width: 100%;
    max-width: 600px;
}
.calculator h1{
    font-size: 50px;
}
.calculator h1 span{
    color: yellow;
    /* border-top: 1px solid black; */
}
.input-box{
    margin: 40px 0;
    padding: 35px;
    border-radius: 10px;
    background: rgb(255,255,255,0.3);
    display: flex;
    align-items: center;
}
.input-box input{
    flex: 1;
    margin-right: 20px;
    padding: 14px 20px;
    border: 0;
    outline: 0;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
}
.input-box button{
    background-color: #ffff76;
    border: 0;
    outline: 0;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: 500;
    color : #333;
    cursor: pointer;
}
.input-box input::-webkit-calender-picker-indicator{
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: auto;
    height: auto;
    position: absolute;
    background-position: calc(100% - 10px);
    background-size: 30px;
    cursor: pointer;
}
#result{
    font-size: large;
    color: black;
    
}
#result span{
    color: #ffff76;
    font-weight: 500;
}