@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    
}
body{
    background-color: #13315c;
}
.box{
    margin-left: 8em;
    margin-top: 9em;
}
.headings{
    font-size:xx-large;
}
h2{
    color: white;
    
}
#R-P{
    color: #06d6a0;
    padding-top: 0.2em; 
    padding-bottom: 0.2em;
    display: inline;
    border-bottom: 3px solid #0a9396;
}
.work {
    margin-top: 2.3em;
}
#input-box{
     display: flex;
     width: 100%;
     background-color:white;
     align-items: center;
     justify-content: space-between;
     border-radius: 5px;

}
#pass-box{
   
    margin-bottom: 2.1rem;
    padding: 1.2em 24em 1.2em 1em;
    outline: 0;
    border: 0;
}
#btn-gen{
    padding: 0.9em 2.7em 0.9em 2.7em;
    background-color: #06d6a0;
    color: aliceblue;
    font-weight: 400;
    outline: 0;
    border: 0;
   
}
#copy{
    height: 2.8em;
    width: 2.8em;
    cursor: pointer;

    background-color: aliceblue;
    
}